services:
  kafka:
    image: confluentinc/cp-kafka:8.1.0
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENERS: PLAINTEXT://:9092,PLAINTEXT_HOST://:29092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: true
    healthcheck:
      test: ["CMD", "bash", "-c", "kafka-topics --bootstrap-server kafka:9092 --list >/dev/null 2>&1"]
      start_period: 40s
      interval: 10s
      timeout: 5s
      retries: 30

  kafdrop:
    image: obsidiandynamics/kafdrop:4.2.0
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "9000:9000"
    environment:
      KAFKA_BROKERCONNECT: "kafka:9092"
      JVM_OPTS: "-Xms128M -Xmx256M"

  connect:
    build:
      context: ./
      args:
        DEBEZIUM_VERSION: 3.3.1.Final
        OJDBC_ARTIFACT: ojdbc11   # если у тебя реально ojdbc11.jar
        OJDBC_VERSION: 21.1.0.0
    container_name: connect
    depends_on:
      kafka:
        condition: service_healthy
#      oracle:
#        condition: service_healthy
    ports:
      - "8083:8083"
    environment:
      # Kafka cluster
      BOOTSTRAP_SERVERS: kafka:9092
      GROUP_ID: "debezium-connect"

#      CONFIG_STORAGE_TOPIC: connect_configs
#      OFFSET_STORAGE_TOPIC: connect_offsets
#      STATUS_STORAGE_TOPIC: connect_statuses

      CONFIG_STORAGE_REPLICATION_FACTOR: 1
      OFFSET_STORAGE_REPLICATION_FACTOR: 1
      STATUS_STORAGE_REPLICATION_FACTOR: 1
      CONFIG_STORAGE_PARTITIONS: 1
      OFFSET_STORAGE_PARTITIONS: 1
      STATUS_STORAGE_PARTITIONS: 1

      KEY_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      VALUE_CONVERTER: org.apache.kafka.connect.json.JsonConverter
      KEY_CONVERTER_SCHEMAS_ENABLE: "false"
      VALUE_CONVERTER_SCHEMAS_ENABLE: "false"

    healthcheck:
      test: [ "CMD", "bash", "-c", "curl -sf http://localhost:8083/connectors || exit 1" ]
      interval: 20s
      timeout: 5s
      retries: 82

  connect-ui:
    image: landoop/kafka-connect-ui:0.9.7
    ports:
      - "8084:8084"
    environment:
      PORT: "8084"
      PROXY: "true"
      CONNECT_URL: "http://connect:8083"
    depends_on:
      - "connect"

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      kafka:
        condition: service_healthy
    ports:
      - "9001:9001"
    environment:
      KAFKA_CLUSTERS_0_NAME: "local"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "kafka:9092"
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_NAME: "connect"
      KAFKA_CLUSTERS_0_KAFKACONNECT_0_ADDRESS: "http://connect:8083"
      SERVER_PORT: 9001

  debezium-ui:
    image: quay.io/debezium/debezium-ui:latest
    platform: linux/amd64
    depends_on:
      connect:
        condition: service_healthy
    environment:
      KAFKA_CONNECT_URIS: "http://connect:8083"
    ports:
      - "9002:8080"

  oracle:
    image: gvenzl/oracle-xe:21-slim
    platform: linux/amd64
    container_name: oracle21c
    environment:
      ORACLE_PASSWORD: "oracle"
      ORACLE_CHARACTERSET: "AL32UTF8"
    ports:
      - "1521:1521"
    volumes:
      - ./scripts/oracle:/docker-entrypoint-initdb.d  # XE runs these on first init as SYS
    healthcheck:
      test: [ "CMD", "bash", "-c", "echo 'select count(*) from cdcuser.customers;' | sqlplus -s system/oracle@//localhost:1521/XEPDB1 | grep -q 1" ]  # XE PDB is XEPDB1
      interval: 20s
      timeout: 10s
      retries: 30

networks:
  default:
    name: cdcnet